/**
  http://dabblet.com/gist/e324a92d31b7f67da5c0
  * Static interpolation via paused animations
  * This technique becomes more useful if you need to interpolate more than 1 properties, and/or if you need multiple values in the spectrum
  * Currently works in every modern browser except Safari
  */

@keyframes __default__VU {
    0% { background: green }
    50% { background: yellowgreen }
    67% { background: yellow }
    83% { background: orange }
    100% { background: red }
}

@keyframes __bluegradient__VU {
  0% { background: #0077b6ff }
  40% { background: #0096c7ff }
  50% { background: #00b4d8ff }
  60% { background: #48cae4ff }
  70% { background: #90e0efff }
  80%  { background: #ade8f4ff }
  100% { background: #caf0f8ff }
}

@keyframes VU {
  0% { background: #78c750 }
  20% { background: #8bcf69 }
  40% { background: #e6d450 }
  60% { background: #ff9f7a }
  70% { background: #e77f1e }
  80% { background: #dd4886 }
  80% { background: #cf0e0e }
}

/* default small leds: 20 x 15 */

.VU div {
    display: flex;
    /* display: block; */
    background: black;
    min-height: 15px;
    /* height: 10vw; */
    margin: 0;
    margin-right: 10px;
    width: 200px;
}

/* medium led squares: 25 x 25 */
/*
.VU div {
    min-height: 25px; 
    margin-right: 15px;
    width: 350px;
}
*/

/* big led squares: 35 x 35 */
/*
.VU div {
    min-height: 35px;
    margin-right: 30px;
    width: 500px;
}
*/

/* rectangle leds */

.VU div {
    min-height: 15px;
    margin-right: 10px;
    width: 550px;
}

.vu-left {
    padding: 1px 0 0 0;
}
.vu-right {
    padding: 0 0 1px 0;
}
.VU div>div {
    display: block;
    /* width: calc(10% - 4px); */
    /* width: 15px; */
    margin: 0px;
    /* height: calc(100% - 4px); */
    animation: VU 1s both linear;
    animation-play-state: paused;
    /* border-radius: 3px; */
}

.VU div>div:nth-of-type(2) { animation-delay: -.2s; }
.VU div>div:nth-of-type(3) { animation-delay: -.3s; }
.VU div>div:nth-of-type(4) { animation-delay: -.4s; }
.VU div>div:nth-of-type(5) { animation-delay: -.5s; }
.VU div>div:nth-of-type(6) { animation-delay: -.6s; }
.VU div>div:nth-of-type(7) { animation-delay: -.7s; }
.VU div>div:nth-of-type(8) { animation-delay: -.8s; }
.VU div>div:nth-of-type(9) { animation-delay: -.9s; }
.VU div>div:nth-of-type(10) { animation-delay: -1s; }

.led0 div:nth-of-type(n+1),
.led1 div:nth-of-type(n+2),
.led2 div:nth-of-type(n+3),
.led3 div:nth-of-type(n+4),
.led4 div:nth-of-type(n+5),
.led5 div:nth-of-type(n+6),
.led6 div:nth-of-type(n+7),
.led7 div:nth-of-type(n+8),
.led8 div:nth-of-type(n+9),
.led9 div:nth-of-type(n+10),
.led10 div:nth-of-type(n+11) {
    opacity: 0;
}

#wrap {
  /* Margin top by Header height */
  width: 100vw;
  display: inline;
  /* position: absolute; */
}

#wrap div {
    margin-top: 0px;
}

/*@media only screen and (orientation: landscape) { } */

@media (max-width: 1200px) {
    .VU div {
        min-height: 15px; 
        margin-right: 10px;
        width: 350px;
   }
}