/*
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*/

svg.defs-only {
    display:none;
}

/*
html {
  position: relative;
  min-height: 100;
  font-size: 10px;
  color: #400080;
  background-image: linear-gradient(45deg, #e0e0e0 25%, transparent 25%, transparent 75%, #e0e0e0 75%, #e0e0e0), linear-gradient(45deg, #e0e0e0 25%, transparent 25%, transparent 75%, #e0e0e0 75%, #e0e0e0);
  background-size: 20px 20px;
  background-position: 0px 0px, 10px 10px;
  background: transparent;
}
*/

/*
body {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.6em;
  line-height: 1.5;
  font-weight: lighter;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #fff;
  background-color: #2d2343;
}
*/

/*
.pace {
  pointer-events: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
    background: #e3cc3c;
    position: fixed;
    top: 0rem;
    z-index: 2000;
    right: 100%;
    width: 100%;
    height: .5rem;
}
*/

/*
#jb-profil {
    fill: #FFF;
}
*/


/**
  http://dabblet.com/gist/e324a92d31b7f67da5c0
  * Static interpolation via paused animations
  * This technique becomes more useful if you need to interpolate more than 1 properties, and/or if you need multiple values in the spectrum
  * Currently works in every modern browser except Safari
  */


/*
@keyframes VU {
    0% { background: green }
    50% { background: yellowgreen }
    67% { background: yellow }
    83% { background: orange }
    100% { background: red }
}
*/

/* blue-ish colors */
/*
@keyframes VU {
   0% { background: #0077b6ff }
   40% { background: #0096c7ff }
   50% { background: #00b4d8ff }
   60% { background: #48cae4ff }
   70% { background: #90e0efff }
   80%  { background: #ade8f4ff }
   100% { background: #caf0f8ff }
}*/

@keyframes VU {
  0% { background: #78c750 }
  20% { background: #8bcf69 }
  40% { background: #e6d450 }
  60% { background: #ff9f7a }
  70% { background: #e77f1e }
  80% { background: #dd4886 }
  80% { background: #cf0e0e }
}

/*
body
    background: black;
}
*/

.POT div,
.VU div {
    display: flex;
    /* display: block; */
    background: black;
    min-height: 15px;
    /* height: 10vw; */
    margin: 0;
    margin-right: 10px;
    width: 200px;
}
.vu-left {
    padding: 1px 0 0 0;
}
.vu-right {
    padding: 0 0 1px 0;
}
.VU div>div {
    display: block;
    /* width: calc(10% - 4px); */
    /* width: 15px; */
    margin: 0px;
    /* height: calc(100% - 4px); */
    animation: VU 1s both linear;
    animation-play-state: paused;
    /* border-radius: 3px; */
}

.VU div>div:nth-of-type(2) { animation-delay: -.2s; }
.VU div>div:nth-of-type(3) { animation-delay: -.3s; }
.VU div>div:nth-of-type(4) { animation-delay: -.4s; }
.VU div>div:nth-of-type(5) { animation-delay: -.5s; }
.VU div>div:nth-of-type(6) { animation-delay: -.6s; }
.VU div>div:nth-of-type(7) { animation-delay: -.7s; }
.VU div>div:nth-of-type(8) { animation-delay: -.8s; }
.VU div>div:nth-of-type(9) { animation-delay: -.9s; }
.VU div>div:nth-of-type(10) { animation-delay: -1s; }

.led0 div:nth-of-type(n+1),
.led1 div:nth-of-type(n+2),
.led2 div:nth-of-type(n+3),
.led3 div:nth-of-type(n+4),
.led4 div:nth-of-type(n+5),
.led5 div:nth-of-type(n+6),
.led6 div:nth-of-type(n+7),
.led7 div:nth-of-type(n+8),
.led8 div:nth-of-type(n+9),
.led9 div:nth-of-type(n+10),
.led10 div:nth-of-type(n+11) {
    opacity: 0;
}
/*
input[type='range'] {
}
*/
.POT div div {
    display: block;
    width: calc(10% - 4px);
    margin: 0px;
    height: calc(10vw - 4px);
    border-radius: 50%;
    border: 0px solid #333;
    color: transparent;
    text-align: center;
}

#wrap {
  /* Margin top by Header height */
  width: 100vw;
  display: inline;
  /* position: absolute; */
}

#wrap div {
    margin-top: 0px;
}

/* #figure-1 { } */
/* .wrap { } */

@media only screen and (orientation: landscape) { }

#vu_meter_js {
  margin-left: 10px;
}
